<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node ns="sphero_prr" name="sphero_prr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-PRR --target_addr 68:86:E7:09:77:2C --port 1" respawn='true' output="screen"/>
	<node ns="sphero_obr" name="sphero_obr" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-OBR --target_addr 68:86:E7:08:01:0B --port 1" respawn='true' output="screen"/>
    <node ns="sphero_rpp" name="sphero_rpp" pkg="sphero_node" type="sphero.py" args="--target_name Sphero-RPP --target_addr 68:86:E7:09:2E:FE --port 1" respawn='true' output="screen"/>

</launch>
