<library path="src">
  <class name="Sphero Control Plugin" type="lansing_steam_gui.sphero_control.SpheroControl" base_class_type="rqt_gui_py::Plugin">
    <description>
      This is a Python GUI plugin to:
      (1) Give Commands to Sphero and then execute it!
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>g
        <label>Subgroup</label>
      </group>
      -->
      <label>Lansing STEAM GUI Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Python GUI plugin for Lansing STEAM</statustip>
    </qtgui>
  </class>
</library>